
body {
    background: #1b2838;
    text-align: left;
    color: #8F98A0;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.btn_connect {
    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 24px;
    margin-right: 3px;
    background-color: #5c7e10;
}
.btn_connect_content {
    display: inline-block;
    padding-left: 35px;
    padding-right: 9px;
    background-position: 10px 5px;
    background-image: url('http://rgsv.xyz/pic/launch-white-18dp.svg');
    background-repeat:	no-repeat;
    text-decoration: none;
    color: #e5e4dc;
    background-color: #5c7e10;
    font-weight: normal;
}
.btn_connect_content:hover {
    text-decoration: none;
    color: #ffffff;
}
.button_steamlike {
    --main-text-color: #dbe2e6;
    --main-light-blue-background: #93b3c8;
    --main-text-on-light-blue: rgb(209, 209, 209);
    --main-top-image-bg: #1f2126;
    --main-editor-bg-color: #363a43;
    --main-editor-text-color: #e6e7e8;
    --main-editor-input-bg-color: #30333b;
    --main-editor-section-title-color: #a3a3a3;
    font-size: 14px;
    color: #969696;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    text-align: left;
}
.button_steamlike a {
    cursor: pointer;
    text-decoration: none !important;
    color: #ffffff !important;
    background: linear-gradient( to bottom, #9500ff 5%, #7800cd 95%);
    position: relative;

    display: block;
    border-radius: 3px;
    padding: 1px 15px;
    font-size: 15px;
    line-height: 30px;
}
.button_steamlike a:hover {
    color: #000000 !important;
    background: linear-gradient( to bottom, #c57fff 5%, #a056d6 95%);
}

.button_steamlike.active a {
    color: #ffffff !important;
    background: linear-gradient( to bottom, #059005 5%, #007000 95%);
}
.button_steamlike.active a:hover {
    color: #000000 !important;
    background: linear-gradient( to bottom, #05f005 5%, #00d000 95%);
}
